
/* ==========================================================================
   Base
========================================================================== */

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  background-color: #fff;
}

a {
  color: inherit;
}

a:focus,
a:hover,
a:visited {
 text-decoration: none;
 background-color: transparent;
 }

.btn-cta {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  padding: 10px 12px;
  background-color: #1B89CB;
  border-color: #1B89CB;
  border-radius: 0;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 28px;
  font-weight: normal;
}

h3 {
  font-size: 30px;
  font-weight: normal;
}

h4 {
  font-size: 19px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

h6 {
  font-size: 13px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1px;
}

/* =============================================================================
   Navbar
============================================================================= */


#logo img {
  padding-top: 20px;
  width: 130px;
}

@media (max-width: 767px) {
  #logo img {
    padding: 20px;
  }
}

/* =============================================================================
   Intro
============================================================================= */

.intro-img {
  padding-bottom: 20px;
}

#intro .container {
  overflow: hidden;
}

#intro h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

#intro p {
  font-size: 25px;
}

#intro .btn-cta {
  margin-top: 10px;
}

@media (max-width: 992px) {
  #intro h1 {
    font-size: 30px;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  #intro .breathe {
    padding-top: 120px;
  }
}

@media (max-width: 767px) {
  #intro .breathe {
    padding-top: 60px;
  }
  .lead {
    text-align: center;
  }
}

@media (max-width: 480px) {
  #intro .breathe {
    padding-top: 30px;
  }
}


/* =============================================================================
   Logos Carousel
============================================================================= */

#carousel .slick-slider {
  margin: 10px 0px;
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-slide{
  outline: none;
}

.slick-next:before,
.slick-prev:before {
  font-size: 22px;
  color: #333;
}

.grayscale {
  -webkit-filter: grayscale(100%);
}

@media (min-width: 1023px) {
  .grayscale:hover {
    -webkit-filter: grayscale(0%);
  }
}

#carousel h3 {
  padding: 45px 0;
}

@media (max-width: 768px) {
  #carousel  .container {
    margin: auto;
    padding: 20px 40px;
    width: auto;
  }
}

/* =============================================================================
   Training, Business Hacker, Consulting
============================================================================= */

.gray-bg {
  background-color: #F2F2F2;
}

#training .breathe,
#business-hacker .breathe,
#consulting .breathe {
  padding-top: 50px;
}

#training h2,
#business-hacker h2,
#consulting h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

#training p,
#business-hacker p,
#consulting p {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5em;
}

@media (max-width: 992px) {
  #training,
  #business-hacker,
  #consulting {
    text-align: center;
  }
}


/* =============================================================================
   Services
============================================================================= */

#services p {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5em;
}

#services .breathe {
  padding: 70px 0;
}

#services h3 {
  padding: 40px 0;
}

#services img.icons {
  padding: 25px 0;
}

/* =============================================================================
   Testimonies
============================================================================= */

#testimonies {
  padding-bottom: 50px;
}

#testimonies .slick-slider {
  margin: 10px 0px;
}

#testimonies h3 {
  padding: 50px 0;
}

#testimonies p {
  font-style: italic;
  line-height: 1.3em;
  padding: 0 5%;
}

#testimonies img {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #testimonies {
    padding-bottom: 20px;
  }
  #testimonies  .container {
    margin: auto;
    padding: 20px 40px;
    width: auto;
  }
  #testimonies h3 {
    padding: 30px 0;
  }
}



/* =============================================================================
   Team
============================================================================= */

#team .breathe {
  padding: 70px 0;
}

#team h3 {
  margin-bottom: 60px;
}

#team h4 {
  font-size: 30px;
}

#team p {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5em;
}

#team .team-text {
  max-width: 250px;
  margin: 0 auto;
  font-size: 1em;
}

#team .fa,
#team-sm .fa {
  padding-left: 10px;
  color: #0B84BE;
}

#team .img-circle,
#team-sm .img-circle {
  border: 4px solid #fff;
}

#team-sm .breathe {
  padding: 20px 0;
}

#team-sm h3 {
  margin-bottom: 40px;
}

.experts p {
  max-width: 700px;
  margin: 50px auto 0 auto;
}

@media (max-width: 768px) {
  #team-sm  .container {
    margin: auto;
    padding: 20px 40px;
    width: auto;
  }
}
@media (max-width: 1200px) {
#team-sm .slick-slide img {
    width: 40%;
    margin: 0 auto;
  }
}

/* =============================================================================
   Form
============================================================================= */

.dark-gray-bg {
  background-color: #333;
}

#form p {
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label,
.has-error .help-block, .has-error .radio, .has-error .radio-inline,
.has-error.checkbox label, .has-error.checkbox-inline label,
.has-error.radio label, .has-error.radio-inline label {
  font-weight: 700;
  color: #D11F26;
}

.form-control {
  height: 40px;
  font-size: 20px;
  border-radius: 0;
}

#form .breathe {
  padding: 50px 0;
}

#form .copyright p {
  font-size: 10px;
  font-weight: lighter;
  color: #fff;
}
